/__dev
.conda

release/hammadpy/hammadpy/*.egg-info/
release/hammadpy/hammadpy/dist/
release/hammadpy/hammadpy.egg-info/
release/hammadpy/hammadpy/__pycache__/
release/hammadpy/hammadpy/modules/__pycache__/
release/hammadml/*.egg-info/
release/hammadml/dist/
release/hammadml/hammad_ml.egg-info/
release/hammadml/hammadml/__pycache__/
release/hammadml/databases/
release/hammadml/hammadml/data/__pycache__/
release/hammadml/hammadml/text/__pycache__/
release/hammadml/build/