/__dev
__PyPi - Release/hammad-python/*.egg-info/
__PyPi - Release/hammad-python/dist/
__PyPi - Release/hammad-python/hammad_python.egg-info/
__PyPi - Release/hammad-python/__pycache__/
__PyPi - Release/hammad-ml/*.egg-info/
__PyPi - Release/hammad-ml/dist/
__PyPi - Release/hammad-ml/hammad_ml.egg-info/
__PyPi - Release/hammad-ml/__pycache__/